[% page_title = f.field('name').value || 'New note' %]
[% INCLUDE _pads.tt %]
<div class="thirteen columns content-area">
    <form class="note" method="post" action="[% c.uri_for(c.action) %]">
        [% f.field('name').render %]
        [% f.field('text').render %]
        [% f.field('pad').render %]
        <input type="submit" value="Save">
    </form>
</div>
