<div class="three columns">
    <h4 id="logo">My pads</h4>
    <nav>
        [% IF c.user.pads.size %]
            <ul>
                [% FOR pad IN c.user.pads %]
                    <li><a href="[% c.uri_for_action('/pads/view', [pad.id]) %]">[% pad.name %]</a></li>
                [% END %]
            </ul>
        [% ELSE %]
            <p class="empty">No pads</p>
        [% END %]
        <hr />
        <a href="[% c.uri_for_action('/pads/create') %]">New pad</a>
    </nav>
</div>
