[% page_title = 'Forgot password?' %]
<div class="sixteen columns content-area">
    <form class="offset-by-six sign-in" method="post" action="[% c.uri_for(c.action) %]">
        [% f.field('email').render %]
        <input type="submit" value="Generate password">
    </form>
</div>
