[% page_title = pad.name %]
[% INCLUDE _pads.tt %]
<div class="thirteen columns content-area">
    <p>Are you sure you want to delete [% pad.name %] and all related notes?</p>
    <form method="post" action="[% c.uri_for(c.action) %]">
        <input type="submit" class="red" value="Yes, delete I want to delete it">&nbsp;
        <a href="[% c.uri_for_action('/pads/edit', [pad.id]) %]">Cancel</a>
    </form>
</div>
